@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
*{
    margin: 0;
    padding: 0;
}
.sidebar{
    background-color: rgb(136, 130, 130);
    width: 12vw;
    font-family: 'Roboto Condensed', sans-serif;
    height: auto;
}
.sidebar nav{
    padding: 45px;
}
.sidebar nav li{
    list-style: none;
    font-size: 30px;
    padding: 25px 0;
}

.sidebar nav li a{
    text-decoration: none;
    color: black;
}
.main{
    /* background-color: yellow; */
    width: 90vw;
   
}
.container{
    display: flex;
}
.infocontainer{
    /* background-color: purple; */
    height: auto;
    width: 80vw; 
    margin:144px auto ;
    display: flex;
    justify-content: space-around;
}
.devInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto Condensed', sans-serif;
}
.Hello{
    font-size:85px;
}
.Name{
  font-size: 70px;
  font-weight: bold;
}
.about{
  font-size: 50px;
}
.buttons{
    margin-top: 30px;
}
.buttons button{
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: rgb(98, 98, 243); 
    font-weight: bold;
    font-size: 21px;
    margin: 0 3px;
    cursor: pointer;
}
.buttons button:hover{
    background-color: azure;
    color: aqua;
}
.devPic img{
    width: 300px;
    border-radius: 30px 30px;
}

/* contact.css */
.contactform{
    padding-top: 144px;
    padding: 0 34px;
    font-family: 'Roboto Condensed', sans-serif; 
}

.contactform h1{
    font-family: 'Roboto Condensed', sans-serif;
    padding: auto;
}
.contactform form div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}
.contactform form div input{
   width: 244px;
   border-radius: 5px;
   margin: 6px 0;
   padding: 3px;
}
#emailHelp{
    font-size: 10px;
    color: midnightblue;
    margin: 0 5px;
    padding: 3px 0 0;
}
#form-check{
    flex-direction: row;
}
#form-check input{
    margin: 2px;
    padding: 2px;
    width: 15px;
}
.btn{
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: rgb(98, 98, 243); 
    font-weight: bold;
    font-size: 21px;
    margin: 0 3px;
    cursor: pointer;
}
/* blog.css */
.blogitem{
    margin: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
 .blogcontainer h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 23px;

 }
 .blogitem p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     margin: 5px;
 }
 .bt{
    padding: 5px 9px;
    border-radius: 22px;
    color: white;
    background-color: rgb(98, 98, 243); 
    font-weight: bold;
    font-size: 10px;
    margin: 0 3px;
    cursor: pointer;
}
/* intro.css */
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.intro h2{
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
}
.intro p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px;
}